/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.fx-color-red {
	-fx-background-color : rgb(239, 46, 55);
}
.fx-color-blue-light {
	-fx-background-color:RGB(205, 245, 255);
}
.text_color_red {
	-fx-text-fill: rgb(239, 46, 55);
	-fx-font-size: 16px; /* Kích thước font chữ 18 */

}
.button {
    -fx-background-color: red; /* Màu nền đỏ */
    -fx-text-fill: white; /* Màu chữ trắng */
    -fx-font-size: 18px; /* Kích thước font chữ 18 */
}
.button:hover {
	-fx-background-color: black;
	-fx-text-fill: red;
}
.button_white {
	    -fx-background-color: white; /* Màu nền đỏ */
	
}

.non-clickable-button {
    -fx-background-color: transparent; /* Nền trong suốt */
    -fx-border-color: black; /* Màu viền đen */
    -fx-border-width: 1; /* Độ dày viền */
    -fx-font-size: 20px; /* Kích thước font chữ */
    -fx-font-weight: bold; /* Chữ in đậm */
    -fx-text-fill: black; /* Màu chữ đen */
    -fx-padding: 5; /* Khoảng cách bên trong */
    -fx-opacity: 1; /* Độ mờ */
    -fx-cursor: default; /* Con trỏ chuột mặc định */
    
}
.vbox_button {
	 -fx-background-color: #f0f0f0; /* Màu nền mặc định */
    -fx-padding: 5;               /* Đệm bên trong */
    -fx-border-color: transparent;  /* Không có viền mặc định */
    -fx-border-width: 2px;          /* Độ rộng viền */
    -fx-background-radius: 5px;     /* Góc bo tròn */
    -fx-border-radius: 5px;         /* Bo tròn viền */
}
.vbox_button:hover {	
	 -fx-background-color: #c0c0c0;  /* Thay đổi màu nền khi hover */
    -fx-border-color: #666666;      /* Thêm viền khi hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0); /* Đổ bóng khi hover */
}
.vbox_button:pressed {
    -fx-background-color: #a0a0a0;  /* Thay đổi màu nền khi nhấn */
    -fx-border-color: #333333;      /* Thay đổi viền khi nhấn */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.7, 0, 0); /* Hiệu ứng đổ bóng mạnh hơn */
    -fx-translate-y: 2px;           /* Dịch chuyển nhẹ VBox xuống khi click để tạo hiệu ứng nén */
}