.fx-color-background-black {
		-fx-background-color : black;
}
.fx-color-background-black-gray {
	-fx-background-color: RGB(30,30,30,0.9);
}
.fx-color-background-black-gray_up {
	-fx-background-color: RGB(40,40,40,0.6);
	 -fx-background-radius: 15;
}
.fx-color-background-red{
		-fx-background-color : red;
}
.fx-color-background-transparent{
		-fx-background-color : transparent;
}
.fx-color-background-gridpane {
	-fx-background-color: RGB(40,40,40,0.8);
	 -fx-background-radius: 15;
}
/* CSS cho HBox */
.search-box {
    -fx-background-color: #333;  /* Màu nền xám đậm */
    -fx-background-radius: 30;   /* Bo tròn 4 góc */
    -fx-padding: 5;              /* Khoảng cách giữa nội dung và viền của HBox */
    -fx-alignment: center-left;   /* Canh trái cho nội dung trong HBox */
}

/* CSS cho FontAwesomeIconView */
.search-icon {
    -fx-fill: white;              /* Màu của icon là trắng */
}

/* CSS cho TextField */
.search-field {
    -fx-background-color: transparent;   /* TextField trong suốt */
    -fx-text-fill: white;                /* Màu chữ trong TextField là trắng */
    -fx-border: none;                    /* Không có viền */
    -fx-prompt-text-fill: lightgray;     /* Màu chữ placeholder */
}
.scroll-pane {
	-fx-background-color: RGB(40,40,40,0.6);
	 -fx-background-radius: 15;
}
.scroll-pane .viewport {
    -fx-background-color: transparent; /* Đặt nền của viewport trong suốt */
}

