/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.AnchorPane
{
    -fx-background-color: black;      
}
.root{
    -fx-background-color: black;
}
.text
{
	-fx-background-color: white;
}
.textFieldName
{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-color:black;
}

.vboxMenu
{
    -fx-spacing: 1px;
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-border-style: solid;
}
